footer{
  background: #C4C4C4;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title{
  color: white;
  text-shadow: 0px 4px 4px rgba(136, 131, 131, 0.75);
}